@import "./components/header.scss";
@import "./components/main.scss";
@import "./components/footer.scss";
@import "./components/slider.scss";
@import "./components/menu.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./img/image8.png");
  background-repeat: no-repeat;
  background-position: top right;
}

@media (max-width: 480px) {
  body {
    background-size: 550px 550px;
  }
}

@font-face {
  font-family: "Santello";
  src: url(santello-regular.ttf);
}

html {
  max-width: 100%;
}

.slick-initialized .slick-slide {
  display: flex;
}
