@import "./components/header.scss";
@import "./components/main.scss";
@import "./components/footer.scss";
@import "./components/slider.scss";

* {
  scroll-behavior: smooth;
}

body {
  background-image: url("img/image 8.png");
  background-repeat: no-repeat;
  background-position: top right;
}

@font-face {
  font-family: "Santello";
  src: url(santello-regular.ttf);
}

html {
  max-width: 100%;
}
