

.div_header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.logo_header,
.lines_header {
    margin: 10px;
}

.phone_header {
    margin: 10px 10px 10px 10px;
}

.logo_header {
    position: absolute;
    left: 1em;
}

.lines_header {
    position: absolute;
    right: 1em;
}

.phonenumber{
    color: var(--unnamed, #111);
    font-family: Santello Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.high_text {
    color: var(--unnamed, #111);
    font-family: 'Manrope', sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 2.5em;
    margin: 0.3em;
    width: fit-content;
}

.high_under_text {
    color: var(--unnamed, #111);
    font-family: 'Santello';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.5em;
    margin-left: 8em;
}

@font-face {
    font-family: 'Santello';
    src: url(santello-regular.ttf);
}

html{
    max-width: 100%;
}

.main_chapter {
    max-width: 1920px;
    display: flex;
    flex-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-gap: 170px;
    width: 50%;
    margin-top: 6em;
}

.main_chapter_box_header {
    margin-top: 3em;
}

.main_chapter_header {
    color: var(--unnamed, #111);
    font-family: 'Manrope';
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 0.75em;
    text-wrap: nowrap;
    margin-bottom: 0;
}

.main_chapter_specs {
    color: var(--unnamed, #111);
    font-family: 'Santello';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: nowrap;
    margin: 0;
}

.main_chapter_box_specs {
    height:fit-content;
    width: fit-content;
    order: 2;
    margin: 0 37.5px;
    margin-top: 10.3em;
}

.yellow_line {
    outline: 1px solid #F3C301;
    background: #F3C301;
    height: 2px;
    width: 98%;
    margin-left: 0.75em;
}

.list_first {
    display: none;
}

li{
    display: flex;
    padding: 10px 22px;
    align-items: center;
    gap: 10px;
}

.list_box{
    padding-left: 540px;
}

.main_chapter_second {
    max-width: 1920px;
    display: flex;
    flex-flow: row;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}

.main_chapter_box_specs_second {
    height:fit-content;
    width: fit-content;
    order: 2;
    margin: 0 37.5px;
    margin-top: 2em;
}

.main_chapter_specs_second {
    color: var(--unnamed, #111);
    font-family: 'Santello';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: nowrap;
    margin: 0;
}

.align {
    text-align: right;
    margin: 0;
}