.chapter {
  margin: auto;
  margin-top: 1em;
  display: flex;
  align-items: flex-end;
  width: 98%;
}

.chapter__item {
  flex-grow: 1;
}

.chapter__item-text {
  color: var(--unnamed, #111);
  font-family: "Manrope";
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

.chapter__name-text {
  color: var(--unnamed, #111);
  font-family: "SantelloRegular";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.chapter__name {
  height: fit-content;
  order: 2;
  width: 50%;
  text-align: right;
}

.yellow_line {
  outline: 1px solid #F3C301;
  background: #F3C301;
  height: 2px;
  width: 100%;
  text-align: right;
}

.chapter__list-box {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.yellow_line_half {
  outline: 1px solid #F3C301;
  background: #F3C301;
  height: 2px;
  margin-left: 0.75em;
}

.chapter__list__item-active {
  display: none;
}

.chapter__list__item-text {
  color: var(--unnamed, #111);
  font-family: "SantelloRegular";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chapter__name-text-align {
  text-align: right;
  margin: 0;
}

.chapter__list-horizontal {
  list-style-type: none;
  padding: 0;
}

.chapter__list__item-horizontal {
  display: inline-flex;
  margin-right: 58px;
  padding: 0;
}

.card-box {
  border-radius: 10px;
  width: 760px;
  height: fit-content;
  background-color: #000;
  box-sizing: border-box;
  display: flex;
}

.card__item-title {
  color: var(--unnamed, #F3C301);
  font-family: "Santello Regular";
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  flex-grow: 1;
}

.card__item {
  vertical-align: top;
  width: calc(60% - 4px);
  flex-grow: 1;
}

.card__item-text {
  padding: 30px 12px 0 40px;
  color: var(--unnamed, #F2F0F0);
  font-family: "SantelloRegular";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.card__item,
.card__item-title {
  color: var(--unnamed, #F3C301);
  font-family: "SantelloRegular";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-image {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
}

.card__item-box {
  display: flex;
  padding: 35px 45px 0 45px;
  align-items: center;
  gap: 70px;
}

li {
  display: flex;
  padding: 10px 22px;
  align-items: center;
  gap: 10px;
}

.half_line {
  display: flex;
}

@font-face {
  font-family: "SantelloRegular";
  src: url("../santello-regular.ttf");
}
.chapter__list-box-horizontal {
  padding: 0;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  background-color: black;
  display: flex;
  height: fit-content;
  width: 440px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
}

.slider__item-name {
  color: var(--unnamed, #F3C301);
  font-family: "SantelloRegular";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slider__item-whiteLine {
  outline: 1px solid white;
  background: white;
  height: 2px;
  width: 100%;
  margin-top: 14px;
}

.slider__item-text {
  color: var(--unnamed, #FFF);
  font-family: "SantelloRegular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__name {
  color: var(--unnamed, #F3C301);
  font-family: Manrope;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__link-phone,
.footer__link-instagram {
  color: var(--unnamed, #F2F0F0);
  font-family: "SantelloRegular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__button {
  height: 100%;
}

footer {
  margin-top: 100px;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
