.chapter {
  margin: 0 auto;
  margin-top: 1em;
  display: flex;
  align-items: flex-end;
  width: 98%;
}

.chapter__item {
  flex-grow: 1;
}

.chapter__item-text {
  color: var(--unnamed, #111);
  font-family: 'Manrope';
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

.chapter__name-text {
  color: var(--unnamed, #111);
  font-family: 'SantelloRegular';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.chapter__name {
  height:fit-content;
  order: 2;
  width: 50%;
  text-align: right;
}

.yellow_line {
  outline: 1px solid #F3C301;
  background: #F3C301;
  height: 2px;
  width: 100%;
  text-align: right;
}

.list-box {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.list{
  width: 70%;
}

.yellow_line_half {
  outline: 1px solid #F3C301;
  background: #F3C301;
  height: 2px;
  margin-left: 0.75em;
}

.list__item-active {
  display: none;
}

.list__item-text {
  color: var(--unnamed, #111);
  font-family: 'SantelloRegular';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chapter__name-text-align {
  text-align: right;
  margin: 0;
}

.list-horizontal{
  list-style-type: none;
  padding: 0;
}

.list__item-horizontal{
  display: inline-flex;
  margin-right: 58px;
  padding: 0;
}

.card-box {
  border-radius: 10px;
  width: 760px;
  height: fit-content;
  background-color: #000;
  box-sizing: border-box;
  display: flex;
}

.card__item-title{
  color: var(--unnamed, #F3C301);
  font-family: 'Santello Regular';
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  flex-grow: 1;
}

.card__item {
  vertical-align: top;
  width: calc(60% - 4px);
  flex-grow: 1;
}

.card__item-text {
  padding: 30px 50px 50px 50px;
  color: var(--unnamed, #F2F0F0);
  font-family: 'SantelloRegular';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.card__item,
.card__item-title {
  color: var(--unnamed, #F3C301);
  font-family: 'SantelloRegular';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-image {
  background: center center no-repeat;
  height: fit-content;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__item-box{
  display: flex;
  padding: 35px 45px 0px 45px;
  align-items: center;
  gap: 85px;
}

li {
  display: flex;
  padding: 10px 22px;
  align-items: center;
  gap: 10px;
}

.half_line {
  display: flex;
}

@font-face {
  font-family: "SantelloRegular";
  src: url("../santello-regular.ttf");
}

.list__box-horizontal{
  padding: 0;
}