.slider {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.slider__item {
  background-color: black;
  display: flex;
  height: fit-content;
  width: calc(100% / 3);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  white-space: normal;
}

.slider__item-name {
  color: var(--unnamed, #f3c301);
  font-family: "SantelloRegular";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slider__item-whiteLine {
  outline: 1px solid white;
  background: white;
  height: 2px;
  width: 100%;
  margin-top: 14px;
}

.slider__item-text {
  color: var(--unnamed, #fff);
  font-family: "SantelloRegular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.next-btn {
}

.previous-btn {
}

.wrapper {
  // max-width: 1200px;
  // display: flex;
  // justify-content: center;
}

@media screen and (max-width: 900px) {
  .slider__item .slider {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .slider__item {
    width: 100%;
  }
}
